.movieCardContainer {
    margin-left : 10px;
    margin-top: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 2px solid #3A4D5B;
    box-shadow: 2px 2px #666F76;
}

.movieCardContainer img {
    height: 25vh;
}

.movieCardContainer p {
    margin: 0;
    text-align: left;
}